<!DOCTYPE html>

<h1> StudyBuddy | A 276 Venture<h1>
<br>
<br>

<h2>Login:<h2> 									<!-- Login Form-->
	<form>
		Username: <br>
		<input type ="text" ><br>
		Password: <br>
		<input type="text" > <br>
		<input type="submit" value="Submit">
	</form>
	


