<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDU-Lz0TW46Hza0E1gMv8weHy1gM9hKrjY"> 
		</script>
	
		<script>
			var map;
			var infowindow;
			var request;
			var request1;
			var request2;
			var service;
			var markers = [];

			var libraryImage = new google.maps.MarkerImage("https://www.shareicon.net/data/32x32/2015/11/03/666185_library_512x512.png" ); 
			var libraryImage2 = new google.maps.MarkerImage("https://www.icon2s.com/img32/32x32-black-white-metro-library-icon.png");
			var coffeeImage = new google.maps.MarkerImage("https://cdn2.iconfinder.com/data/icons/map-pins-1-01-easylines/128/yumminky-pin-13-32.png");
			var starbucksImage = new google.maps.MarkerImage("https://www.shareicon.net/data/32x32/2015/09/01/94011_starbucks_512x512.png");
			var otherImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|"); // just black
			var cafeImage = new google.maps.MarkerImage("https://cdn3.iconfinder.com/data/icons/food-and-drinks-icons/512/Coffee-32.png");

			function initialize() {
				var center = new google.maps.LatLng(49.2624424, -122.9172366);
				map = new google.maps.Map(document.getElementById('map'),{
					center: center,
					zoom: 12
				});

				request = {
					location:center,
					radius:6000,
					types: ['library'],
					query: ['library']
				}; 
 
				request1 = {
					location:center,
					radius:7000,
					types: ['cafe'],
					query: ['Starbucks'],
					keyword: ['Starbucks']
					//keyWord: ['Tim Hortons']
				};

				request2 = {
					location:center,
					radius:9000,
					types: ['cafe'],
					query: ['Tim Hortons'],
					keyword: ['Tim Hortons']
				};

				request3 = {
					location:center,
					radius:6000,
					types: ['cafe'],
					query: ['cafe']
				};				

				infowindow = new google.maps.InfoWindow();
				service = new google.maps.places.PlacesService(map);

				service.textSearch(request,callback);
				service.textSearch(request1,callback1);
				service.textSearch(request2,callback2);
				service.textSearch(request3,callback3);
				
				google.maps.event.addListener(map, 'click', function(event) {
					map.setCenter(event.latLng)
					clearResults(markers)

					var request = {
						location: event.latLng,
						radius:2000,
						types: ['library'],
						query: ['library']
					}; 
	 
					var request1 = {
						location: event.latLng,
						radius:2000,
						types: ['cafe'],
						query: ['Starbucks'],
						keyword: ['Starbucks']
					};

					var request2 = {
						location: event.latLng,
						radius:2000,
						types: ['cafe'],
						query: ['Tim Hortons'],
						keyword: ['Tim Hortons']
					};
					var request3 = {
						location: event.latLng,
						radius:2000,
						types: ['cafe'],
						query: ['cafe']
					};							

				service.textSearch(request,callback);
				service.textSearch(request1,callback1);
				service.textSearch(request2,callback2);
				service.textSearch(request3,callback3);
				});
			}			
			

			function callback(results, status) {
				if(status == google.maps.places.PlacesServiceStatus.OK){
					for(var i=0;i <results.length; i++){
						markers.push(createMarker(results[i])); //use results to call createMarker
						}
				}
			}

			function callback1(results, status) {
				if(status == google.maps.places.PlacesServiceStatus.OK){ 
					for(var i=0;i <results.length; i++){
						markers.push(createMarker1(results[i])); //use results to call createMarker
						}
				}
			}
			function callback2(results, status) {
				if(status == google.maps.places.PlacesServiceStatus.OK){ 
					for(var i=0;i <results.length; i++){
						markers.push(createMarker2(results[i])); //use results to call createMarker
						}
				}
			}
			function callback3(results, status) {
				if(status == google.maps.places.PlacesServiceStatus.OK){ 
					for(var i=0;i <results.length; i++){
						markers.push(createMarker3(results[i])); //use results to call createMarker
						}
				}
			}			

			function createMarker(place) {
				var placeLoc = place.geometry.location;
				var libIcon = { url: "https://www.icon2s.com/img32/32x32-black-white-metro-library-icon.png",
						    scaledSize: new google.maps.Size(26, 26), // scaled size
    						origin: new google.maps.Point(0,0), // origin
    						anchor: new google.maps.Point(0, 0) // anchor
							};					
				var marker = new google.maps.Marker({
					map:map,
					animation: google.maps.Animation.DROP,
					icon: libIcon,
					position: place.geometry.location
				}); 
				google.maps.event.addListener(marker, 'mouseover',function() { // waits for a click, then shows content
					infowindow.setContent(place.name);
					infowindow.open(map,this);

				});
				google.maps.event.addListener(marker, 'click',function() { // waits for a click, then shows content
					var address = place.formatted_address;
					infowindow.setContent(address);
					infowindow.open(map,this);

				});				
				return marker;
			}

				function createMarker1(place) {
				var placeLoc = place.geometry.location;
				
				var marker = new google.maps.Marker({
					map:map,
					animation: google.maps.Animation.DROP,
					icon: starbucksImage,
					position: place.geometry.location
				}); 
				google.maps.event.addListener(marker, 'mouseover',function() { // waits for a click, then shows content
					infowindow.setContent(place.name);
					infowindow.open(map,this);

				});
				google.maps.event.addListener(marker, 'click',function() { // waits for a click, then shows content
					var address = place.formatted_address;
					infowindow.setContent(address);
					infowindow.open(map,this);

				});				
				return marker;
			}
				function createMarker2(place) {
				var placeLoc = place.geometry.location;
				var timIcon = { url: "https://app.guusto.com/guusto2/img/90.png",
						    scaledSize: new google.maps.Size(27, 27), // scaled size
    						origin: new google.maps.Point(0,0), // origin
    						anchor: new google.maps.Point(0, 0) // anchor
							};					
				var marker = new google.maps.Marker({
					map:map,
					animation: google.maps.Animation.DROP,
					icon: timIcon,
					position: place.geometry.location
				}); 
				google.maps.event.addListener(marker, 'mouseover',function() { // waits for a click, then shows content
					infowindow.setContent(place.name);
					infowindow.open(map,this);

				});
				google.maps.event.addListener(marker, 'click',function() { // waits for a click, then shows content
					var address = place.formatted_address;
					infowindow.setContent(address);
					infowindow.open(map,this);

				});							
				return marker;
			}

				function createMarker3(place) {
				var placeLoc = place.geometry.location;			
				var marker = new google.maps.Marker({
					map:map,
					animation: google.maps.Animation.DROP,
					icon: cafeImage,
					position: place.geometry.location
				}); 
				google.maps.event.addListener(marker, 'mouseover',function() { // waits for a click, then shows content
					infowindow.setContent(place.name);
					infowindow.open(map,this);

				});
				google.maps.event.addListener(marker, 'click',function() { // waits for a click, then shows content
					var address = place.formatted_address;
					infowindow.setContent(address);
					infowindow.open(map,this);

				});							
				return marker;
			}

			function clearResults(markers) {
				for (var m in markers){
					markers[m].setMap(null)
				}
				markers = []
			}
			google.maps.event.addDomListener(window,'load',initialize);

		</script>

		<style>
		html, body, #map {
			height:100%;
			margin: 0px;
			padding: 0px
		}
		</style>
	</head>
	<body>
		<div id="map">
		</div>
	</body>
	</html>

